[Unit]
Description=Pacman keyring initialization
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-key --recv-key B24B7E71D51210D9292E1B3E4A5360B500C9C4F0
ExecStart=/usr/bin/pacman-key --lsign-key B24B7E71D51210D9292E1B3E4A5360B500C9C4F0

[Install]
WantedBy=multi-user.target
